/* AYCE STYLES */
.ayceItems {
  padding: 1em;
}

.ayceItems > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ayceItems div {
  min-width: 150px;
  margin-bottom: 1em;
}

@media (min-width: 1539px) {
  .ayceItems > div {
    justify-content: space-around;
  }

  .ayceItems div {
    margin-right: 1em;
  }
}

.ayceLimits {
  margin: 2em;
  margin-top: 3em;
}

.ayceRice,
.ayceNoods {
  padding-top: 1.5em;
}

/* LUNCH/DINNER STYLES */
th,
td {
  padding: 3px;
}

td:nth-child(2),
td:nth-child(3) {
  font-weight: 900;
}

.regSoup div,
.regSides div,
.menuSplit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
}

.regDinner table {
  width: 90vmin;
}

@media (min-width: 1449px) {
  .regSoup div,
  .regSides div,
  .menuSplit {
    justify-content: space-around;
  }

  .regDinner table {
    width: 60vmin;
  }
}

.regSoup table {
  margin: 0.5em;
}

.split-pot {
  max-width: 170px;
}

.underSoup table {
  margin-bottom: 10px;
}

.underSoup td,
.underSoup tr {
  line-height: 1em;
}

.underSoup th {
  padding-top: 1em;
}

.regDinner div,
.underSoup {
  margin-bottom: 2em;
}

.regDinner td:first-child {
  padding-right: 2em;
}

.regSides div {
  padding: 0;
}

.regSides table {
  min-width: 250px;
  margin: 0 2em 1em 0;
}

.regSides .extraSides {
  min-width: 270px;
}

td span.subText {
  position: relative;
  top: -15px;
}

/* DRINKS STYLES */
.drinkItems div .drinkSplit {
  display: block;
}

.drinkItems div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.drinkItems table {
  margin: 20px;
  min-width: 280px;
}

.happyHr th {
  padding-right: 10px;
}
.wine {
  min-width: 250px;
}
/* GALLERY STYLES */
#gallery {
  line-height: 0;
  column-count: 3;
  column-gap: 0;
}

#gallery img {
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1050px) {
  #gallery {
    column-count: 2;
  }
}

.hoverZoom {
  overflow: hidden;
}

.hoverZoom img {
  transition: transform 0.5s ease;
}

.hoverZoom:hover img {
  transform: scale(1.3);
}

/* mobile disable hover zoom imgs */
/* @supports (-webkit-overflow-scrolling: touch) {
  .hoverZoom:hover img {
    transform: none;
  }
} */
